/* The Modal (background) */
.qmodel {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.qmodel-content {
    border-radius: 10px;
    background-color: #fefefe;
    margin-top: 50px; /* 15% from the top and centered */
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: -1px;
    width: 400px; /* Could be more or less, depending on screen size */
    height: 550px;
}

iframe {
    border-radius: inherit;
    margin: 0px;
    padding: 0px;
    border: none;
}